.container header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}

.iconArea {
  display: grid;
  place-items: center;
  border: 1px solid #1e293b;
  background: #0f172a;
  border-radius: 16px;
  padding: 0.75rem;
}

.iconArea img {
  width: 2rem;
  height: 2rem;
}

.container header h1 {
  color: #f8fafc;
  font-size: 1.8rem;
}
