@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background: rgb(41, 74, 185);
  background: radial-gradient(
    52deg,
    rgba(41, 74, 185, 1) 0%,
    rgba(136, 156, 246, 1) 90%,
    rgba(134, 147, 251, 1) 100%
  );
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  margin: 0; /* Remove as margens padrões do body */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}
