.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 3.75rem;
  border-radius: 32px;
  border: 1px solid #334155;
  background: rgba(2, 6, 23, 0.8);
  color: #f8fafc;
  margin: auto;
}

